html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $main-font;
  font-size: $body-fs;
  line-height: $body-lh;
  background-color: $bg-color;
  @include font($color-text);
  -ms-scroll-limit-x-max: 0;
}

a {
  text-decoration: none;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: $desktop-width;
  }
}
