.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  border-radius: 6px;
  font-size: $button-fs;
  line-height: $button-lh;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.55px;
}
