.geo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-display: column;
}

.geo__icon {
  position: absolute;
  top: 30px;
  left: 10px;
  color: $color-text;
}

.geo__select {
  position: relative;
  min-width: 100%;
  min-height: 72px;
  padding-left: 25px;
  border: none;
  appearance: none;
  background-color: transparent;
  color: $color-text;
  font-size: 10px;
  outline: none;
}

.geo__city {
  min-width: 100%;
  min-height: 100%;
}

.geo__result-icon {
  position: absolute;
  top: 12px;
  left: 3px;
}

.geo__selection {
  position: relative;
  display: flex;
  min-height: 72px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .section__inner {
    position: relative;
  }

  &::after {
    position: absolute;
    top: 29px;
    right: 20px;
    width: 9px;
    height: 9px;
    border: 1px solid $color-text;
    border-top: 0;
    border-left: 0;
    background-color: transparent;
    content: "";
    transform: rotate(45deg);
  }

  &:hover,
  :active {
    background-color: $blue;

    .geo__icon {
      color: $white;
    }

    .geo__select {
      color: $white;
    }

    &::after {
      border-color: $white;
    }
  }
}

.geo__results {
  padding-top: 11px;
  padding-bottom: 18px;

  & > .section__inner {
    padding-left: 12px;
  }

  &:hover {
    background-color: $blue;
    color: $white;

    .geo__result-icon {
      color: $white;
    }

    .result__link {
      color: $white;
    }
  }
}

.geo__results-title {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.geo__results-list {
  padding: 0;
  padding-top: 2px;
  margin: 0;
  font-size: 10px;
  list-style: none;
}

.result {
  position: relative;
  padding-top: 7px;
  padding-left: 22px;
  margin: 0;
  margin-bottom: 5px;
}

.result__text {
  margin: 0;
}

.result__options {
  margin: 0;
  margin-top: -3px;
}

@media (min-width: $desktop-width) {
  .geo__results {
    display: flex;
    justify-content: flex-end;
  }

  .geo__select {
    min-height: 67px;
    padding-left: 21px;
    margin-top: -5px;
  }

  .geo__selection {
    min-height: 67px;

    &::after {
      top: 27px;
      right: 23px;
      width: 8px;
      height: 8px;
    }
  }

  .geo__icon {
    top: 26px;
    left: 46px;
  }

  .geo__results > .section__inner {
    padding-left: 33px;
  }

  .geo__results-title {
    padding-left: 14px;
  }

  .geo__results-list {
    padding-top: 0;
  }

  .geo__result-icon {
    top: 11px;
    left: 13px;
  }
}
