.header {
  padding-top: 10px;
  padding-bottom: 8px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 17px;
  padding-left: 14px;
}

.header-top__mobile-list-link-cart-value {
  position: absolute;
  top: -8px;
  left: 7px;
  display: flex;
  width: 12px;
  height: 12px;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 50%;
  color: $white;
  font-size: 10px;
}

.header__bottom-container {
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed $border-color;
}

@media (min-width: $tablet-width) {
  .header__inner {
    padding-right: 22px;
    padding-left: 22px;
  }

  .header__bottom-container {
    border-top: 1px solid $border-color;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 16px;
    padding-bottom: 13px;
  }

  .header__inner {
    padding-right: 28px;
    padding-left: 2px;
  }

  .header__top-container {
    padding-bottom: 6.2px;

    .header__inner {
      padding-right: 6px;
    }
  }

  .header__bottom {
    justify-content: flex-end;
  }

  .header__bottom-container {
    padding-top: 22px;
  }
}
