.header {
  padding-top: 10px;
  padding-bottom: 8px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 17px;
  padding-left: 14px;
}

.header-top {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header__top-fixed-container {
  width: 100%;
}

.header-top-fixed {
  display: none;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-top-fixed__mobile-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__top-fixed-container--show {
  display: flex;
}

.header-top__left {
  display: none;
}

.header-top__right {
  display: none;
}

.header-bottom__right {
  display: none;
}

.header-bottom__left {
  display: none;
}

.cities {
  border: none;
  margin-right: auto;
  background-color: transparent;
  font-family: inherit;
}

.header-top-fixed__mobile-list-link--cart,
.header-top__link--cart {
  position: relative;
}

.cart-value {
  position: absolute;
  top: -8px;
  left: 7px;
  display: flex;
  width: 12px;
  height: 12px;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 50%;
  color: $white;
  font-size: 10px;
}

.header__bottom-container {
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px dashed $border-color;
}

.header-bottom {
  width: 100%;
}

.header-bottom__mobile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-bottom__mobile-top-img {
  width: 222px;
  height: 33px;
  margin-right: auto;
}

.header-bottom__mobile-burger-button-container {
  display: inline-block;
  cursor: pointer;
}

.header-bottom__mobile-burger-bar {
  width: 20px;
  height: 2px;
  margin: 6px 0;
  background-color: #333;
  transition: 0.4s;
}

.header-bottom__mobile-burger-button-container--active {
  .header-bottom__mobile-burger-bar--1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .header-bottom__mobile-burger-bar--2 {
    opacity: 0;
  }

  .header-bottom__mobile-burger-bar--3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
  }
}

@media (min-width: $tablet-width) {
  .header__inner {
    padding-right: 22px;
    padding-left: 22px;
  }

  .header-top {
    display: flex;
    flex-direction: row;
  }

  .header-top__mobile {
    display: none;
  }

  .header-bottom__mobile {
    display: none;
  }

  .header-top__left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
  }

  .header-top__left-cities-container {
    position: relative;
    padding-left: 11px;

    &::before {
      @include pseudo(url("../img/map-mark-icon.svg"), 6.6px, 9px);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .header-top__left-tel {
    position: relative;
    padding-left: 13px;
    margin: 0;
    margin-left: 15px;
    letter-spacing: -0.5px;

    &::before {
      @include pseudo(url("../img/tel-icon.svg"), 9px, 10px);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .header-top__right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .header__bottom-container {
    border-top: 1px solid $border-color;
  }

  .header-bottom {
    display: flex;
    flex-direction: row;
  }

  .header-bottom__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .header-bottom__left {
    display: block;
    margin-right: auto;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .header-top__right-cart-container {
    display: none;
  }

  .header-top__right-search-button {
    border: none;
    appearance: none;
    background-color: transparent;
  }

  .header-top__link--cart {
    position: relative;

    path {
      stroke-width: 3;
    }
  }

  .header-top__mobile-list-link-cart-value {
    top: -5px;
    left: 16px;
    width: 13px;
    height: 13px;
  }
}

@media (min-width: $desktop-width) {
  .header__inner {
    padding-right: 29px;
    padding-left: 2px;
  }

  .header__top-container {
    padding-bottom: 6.2px;
  }

  .header-top__left {
    padding-left: 23px;
  }

  .header-top__left-cities-container {
    padding-left: 2px;
    &::before {
      left: -5px;
    }
  }

  .header-top__left-tel {
    padding-left: 16px;
    margin-left: 27px;
  }

  .header-bottom__mobile-burger-button-container {
    display: none;
  }

  .header-top__right {
    margin-top: -1px;
    margin-right: 8px;
  }

  .header-top__link--cart {
    margin-left: 8px;
  }

  .header__bottom {
    justify-content: flex-end;
  }

  .header__bottom-container {
    padding-top: 22px;
  }

  .header-bottom__left {
    display: none;
  }
}
