.search {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(
    to left,
    RGBA(250, 0, 235, 1),
    RGBA(154, 102, 245, 1),
    RGBA(43, 215, 255, 1)
  );
  color: $white;
}

.search__title {
  margin: 0;
}

.search__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.search__container-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-right: 24px;
  padding-bottom: 6px;
}

.search__container-top-text {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 9px;
  line-height: 7.7px;
}

.search__container-input-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.search__input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9.3px;
  border: none;
  appearance: none;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-family: inherit;
  font-size: inherit;
}

.search__categories {
  border: none;
  border-left: 1px solid $border-color;
}

.search__button {
  min-width: 32px;
  min-height: 100%;
  border: none;
  appearance: none;
  background-color: $blue;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
}

.search__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 0;
}

.search__control {
  position: relative;
  width: 55px;
  height: 35px;
  border: none;
  border-right: 1px solid $border-color;
  appearance: none;
  background-color: $white;

  &:last-child {
    border-right: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }

  &--analyse::before {
    background-image: url("../img/analyse.svg");
    background-size: 25px 25px;
  }

  &--center::before {
    background-image: url("../img/center.svg");
    background-size: 25px 25px;
  }

  &--doctor::before {
    background-image: url("../img/doctor.svg");
    background-size: 25px 25px;
  }

  &--shedule::before {
    background-image: url("../img/shedule.svg");
    background-size: 25px 25px;
  }

  &:active {
    transform: scale(1);
  }
}

.search__hint {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.search__hint-dotted {
  height: 14px;
  padding-left: 3px;
  border-bottom: 0.5px dashed $white;
  color: $white;
}

@media (min-width: $tablet-width) {
  .search__title {
    margin-right: auto;
  }

  .search__container-top-text {
    font-size: 11px;
    line-height: 16px;
  }

  .search__input {
    flex-grow: 2;
  }

  .search__control {
    width: 70px;
    height: 35px;
  }
}
