.section__inner {
  padding-right: 32.5px;
  padding-left: 32.5px;
}

.section__title {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .section__inner {
    padding-right: 75px;
    padding-left: 75px;
  }
}
