.select__title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 8px 16px;

  border-radius: 5px;

  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 10px;
    height: 2px;

    background-color: $color-text;
    content: "";

    transform: translate(-3px, -50%) rotate(45deg);

    transition: all 0.3s ease-out;
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    border-color: $color-text;

    &::before,
    &::after {
      background-color: $white;
    }
  }
}

.select__content {
  position: absolute;
  z-index: 8;
  top: 69px;
  left: 0;

  display: flex;
  width: 100%;
  flex-direction: column;

  border: 1px solid #c7ccd1;
  border-top: none;

  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  opacity: 0;

  transition: all 0.3s ease-out;
}

.select__label {
  display: flex;

  overflow: hidden;
  width: 100%;
  height: 40px;
  max-height: 0;
  align-items: center;
  padding: 0 16px;

  cursor: pointer;

  transition: all 0.2s ease-out;

  &:hover {
    background-color: $blue !important;

    color: #ffffff;
  }

  & + input + & {
    border-top: 0 solid #c7ccd160;
  }
}

.select {
  position: relative;
  width: 230px;
  height: 40px;
  margin: 0 auto;
  transition: background-color 0.2s ease-in-out;

  &[data-state="active"] {
    .select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .select__content {
      opacity: 1;
    }

    .select__label + .select__input + .select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }

  &:hover {
    background-color: $blue;
    color: $white;

    .select__content {
      color: $color-text;
    }
  }
}

.select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }

  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
