.header-top {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
}

.header__top-fixed-container {
  width: 100%;
}

.header__top-fixed-container--show {
  display: flex;
}

.header-top__left {
  display: none;
}

.header-top__right {
  display: none;
}

.header-top__link--cart {
  position: relative;
  color: $color-text;
}

@media (min-width: $tablet-width) {
  .header-top {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
  }

  .header-top__mobile {
    display: none;
  }

  .header-top__left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
  }

  .header-top__left-cities-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 11px;
  }

  .header-top__left-tel {
    position: relative;
    padding-left: 13px;
    margin: 0;
    margin-left: 15px;
    letter-spacing: -0.5px;
  }

  .header-top__left-icon {
    position: absolute;
    top: 3px;
    left: 0;
    order: -1;

    &--cities {
      left: -10px;
    }
  }

  .header-top__right {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-top__right-search-button {
    border: none;
    appearance: none;
    background-color: transparent;
  }

  .header-top__link--cart {
    position: relative;

    path {
      stroke-width: 3;
    }
  }

  .header-top__mobile-list-link-cart-value {
    top: -5px;
    left: 16px;
    width: 13px;
    height: 13px;
  }

  .header-top__list-icon {
    &--search:hover {
      color: $blue;
    }

    &--search:active {
      color: #2f668e;
    }

    &--cart:hover {
      color: $green;
    }

    &--cart:active {
      color: #2f668e;
    }
  }
}

@media (min-width: $desktop-width) {
  .header-top__left {
    padding-left: 47px;
  }

  .header-top__left-cities-container {
    padding-left: 2px;
    &::before {
      left: -5px;
    }
  }

  .header-top__left-tel {
    margin-left: 27px;
    letter-spacing: 0;
  }

  .header-top__right {
    margin-top: -1px;
    margin-right: 31px;
  }

  .header-top__link--cart {
    margin-left: 8px;
  }
}
