.search {
  padding-top: 29px;
  background-image: linear-gradient(
      to left,
      RGBA(250, 0, 235, 1),
      RGBA(154, 102, 245, 1),
      RGBA(43, 215, 255, 1)
    ),
    url("../img/mobile-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-weight: 500;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/mobile-bg@2x.png");
  }
}

.search__title {
  position: relative;
  padding-left: 3px;
  margin: 0;
  margin-bottom: 64px;
  color: $white;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;

  &::after {
    @include titleAfter();
    top: 26px;
    left: 126px;
  }
}

.search__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 11px;
}

.search__container-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 6px;
}

.search__container-top-text {
  display: none;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 9px;
  line-height: 7.7px;
}

.search__container-input-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 4px;
}

.search__input {
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 9.3px;
  border: none;
  appearance: none;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-family: inherit;
  font-size: 10px;
}

.search__categories {
  display: none;
  border: none;
  border-left: 1px solid $border-color;
}

.search__button {
  min-width: 78px;
  min-height: 100%;
  border: none;
  appearance: none;
  background-color: $blue;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
}

.search__icon {
  width: 20px;
  height: 20px;
}

.search__controls {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 0;
}

.search__control {
  position: relative;
  width: 55px;
  height: 35px;
  border: none;
  border-right: 1px solid $border-color;
  appearance: none;
  background-color: $white;

  &:last-child {
    border-right: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }

  &--analyse::before {
    background-image: url("../img/analyse.svg");
    background-size: 25px 25px;
  }

  &--center::before {
    background-image: url("../img/center.svg");
    background-size: 25px 25px;
  }

  &--doctor::before {
    background-image: url("../img/doctor.svg");
    background-size: 25px 25px;
  }

  &--shedule::before {
    background-image: url("../img/shedule.svg");
    background-size: 25px 25px;
  }

  &:active {
    transform: scale(1);
  }
}

.search__hint {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-left: 12px;
  font-size: $body-fs;
  font-weight: 400;
}

.search-hint__icon {
  display: none;
}

.search__hint-dotted {
  height: 23px;
  padding-left: 3px;
  border-bottom: 0.5px dashed $white;
  color: $white;
}

.actual-offer__mobile-slider {
  display: flex;
  width: 100%;
  height: 5px;
}

.actual-offer__mobile-slider-bar {
  height: 100%;
  flex-grow: 1;
  margin-right: 5px;
  background-color: $inactive-color;

  &--active {
    background-image: linear-gradient(
      to left,
      RGBA(250, 0, 235, 1),
      RGBA(154, 102, 245, 1),
      RGBA(43, 215, 255, 1)
    );

    &:nth-child(even) {
      background-image: linear-gradient(
        to right,
        RGBA(250, 0, 235, 1),
        RGBA(154, 102, 245, 1),
        RGBA(43, 215, 255, 1)
      );
    }
  }
}

@media (min-width: $tablet-width) {
  .search__title {
    margin-right: auto;

    &::after {
      @include titleAfter();
    }
  }

  .search__title-br {
    display: none;
  }

  .search__container-top-text {
    display: flex;
    font-size: 11px;
    line-height: 16px;
  }

  .search__categories {
    display: block;
  }

  .search__input {
    flex-grow: 2;
  }

  .search__control {
    width: 70px;
    height: 35px;
  }
}

@media (min-width: $desktop-width) {
  .search {
    min-height: 594px;
    padding-top: 140px;
    padding-bottom: 69px;
    background-image: url("../img/mainbg.png"),
      linear-gradient(
        to left,
        RGBA(250, 0, 235, 1),
        RGBA(154, 102, 245, 1),
        RGBA(43, 215, 255, 1)
      );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/mainbg@2x.png");
    }
  }

  .search__container {
    padding-right: 28px;
  }

  .search__container-top {
    padding-top: 4px;
    padding-right: 132px;
  }

  .search__container-top-text {
    align-items: center;
    padding-top: 5px;
    padding-right: 15px;
    font-size: $body-fs;
    letter-spacing: -0.3px;
  }

  .search__title {
    @include titleh2($white);
    position: relative;
    margin-bottom: 10px;
    letter-spacing: -0.1px;

    &::after {
      @include titleAfter();
    }
  }

  .search__container-input-group {
    min-height: 57.5px;
    margin-bottom: 7px;
  }

  .search__input {
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 19.3px;
    font-size: 14px;
    letter-spacing: -0.3px;
  }

  .search__categories {
    position: relative;
    min-width: 218px;
    padding-left: 22px;
    appearance: none;
    background-image: url("../img/dropdown.svg");
    background-position-x: 91%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    letter-spacing: -0.5px;
  }

  .search__button {
    min-width: 73px;
  }

  .search__icon {
    width: 26px;
    height: 26px;
  }

  .search__hint {
    position: relative;
    padding-left: 22px;
    font-size: $body-fs;
    letter-spacing: 1px;
  }

  .search__hint-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  .search__hint-dotted {
    height: 18px;
    padding-left: 1px;
    letter-spacing: -0.28px;
  }

  .search__controls {
    display: flex;
    margin-top: 109px;
  }

  .search__control {
    width: 293px;
    height: 95px;
    padding-top: 5px;
    padding-left: 39px;
    color: $color-text;
    font-size: 14px;
    letter-spacing: -0.3px;
    transition: all 0.2s ease-in-out;

    &:first-child {
      padding-left: 33px;
    }

    &:nth-child(3) {
      padding-left: 27px;
    }

    &:nth-child(4) {
      padding-left: 34px;
    }

    &--analyse::before {
      left: -67px;
      background-size: 31px 33px;
    }

    &--center::before {
      left: -107px;
      background-size: 31px 32px;
    }

    &--doctor::before {
      left: -67px;
      background-size: 27px 34.5px;
    }

    &--shedule::before {
      left: -104px;
      background-size: 28px 28px;
    }

    &:hover {
      box-shadow: $box-shadow;
      transform: scale(1.05);
    }
  }
}
